{% extends 'body.html' %}
{% load static %}
{% block stylesheet %}
    {% include '../MainSections/CSS-DataTables.html' %}
    <link rel="stylesheet" href="{% static 'sismbor/css/neumaticos-admin.css' %}">
{% endblock %}

{% block contento %}
<div class="row">
    <div class="col-lg-3 col-md-12">
        <!-- Nueva Orden -->
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Unidad</h3>
            </div>


            {% csrf_token %}
            <input type="hidden" name="id_unidad" id="id_unidad" value="0">

            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary">Placa</span>
                    </div>
                    <input id="edtPlaca" name="placa" type="text" class="form-control uppercase" required
                           placeholder="ABC-123" value="{{ placa }}">
                    <span class="input-group-append">
                                        <button type="button" class="btn btn-outline-info btn" data-toggle="modal"
                                                data-target="#BuscarUnidadModal">Buscar</button>
                    </span>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary">Km actual</span>
                    </div>
                    <input id="edtKilometrajeSet" name="Kilometraje" type="number" class="form-control uppercase" required
                           placeholder="" value="{{ km_actual }}">
                    <span class="input-group-append">
                        <button id="btnCalculaVidaUtil" type="button" class="btn btn-outline-info btn">Calcular vida util</button>
                    </span>
                </div>

                <!--<div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Ult. Km</span>
                    </div>
                    <input readonly name="kilometraje" id="kilometraje" type="number"
                           class="form-control bg-white"
                           required placeholder="">
                </div>-->

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Marca</span>
                    </div>
                    <input id="edtMarca" type="text" class="form-control" placeholder="" readonly>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Modelo</span>
                    </div>
                    <input id="edtModelo" type="text" class="form-control" placeholder="" readonly>
                </div>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Motor</span>
                    </div>
                    <input id="edtMotor" type="text" class="form-control" placeholder="" readonly>

                </div>

                <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <span class="input-group-text">Chasis</span>
                    </div>
                    <input id="edtChasis" type="text" class="form-control" placeholder="" readonly>
                </div>
                <!-- *************************************************************************************** -->
                <h4 class="mt-4 mb-2">Servicio Actual</h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Entrada</span>
                    </div>
                    <input id="fh_alta_current" type="text" class="form-control" placeholder="No está en servicio"
                           readonly>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Kilometraje</span>
                    </div>
                    <input id="kilometraje_current" type="text" class="form-control" placeholder="No está en servicio"
                           readonly>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Folio</span>
                    </div>
                    <input id="folio_current" type="text" class="form-control" placeholder="No está en servicio"
                           readonly>
                    <span class="input-group-append">
                            <button href="" id="btnVerOrden_current" type="button" class="btn btn-outline-info btn"
                            >Ver</button>
                                </span>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Responsable</span>
                    </div>
                    <input id="nombre_entrega_current" type="text" class="form-control"
                           placeholder="No está en servicio" readonly>
                </div>

                <!-- *************************************************************************************** -->
                <h4 class="mt-4 mb-2">Utlimo servicio</h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Fecha</span>
                    </div>
                    <input id="fh_salida_ult" type="text" class="form-control" placeholder="Sin historial de servicio"
                           readonly>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Kilometraje</span>
                    </div>
                    <input id="kilometraje_ult" type="text" class="form-control"
                           placeholder="Sin historial de servicio" readonly>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Folio</span>
                    </div>
                    <input id="folio_ult" type="text" class="form-control" placeholder="Sin historial de servicio"
                           readonly>
                    <span class="input-group-append">
                        <button href="" id="btnVerOrden_ult" type="button" class="btn btn-outline-info btn"
                        >Ver</button>
                    </span>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Responsable</span>
                    </div>
                    <input id="nombre_entrega_ult" type="text" class="form-control"
                           placeholder="Sin historial de servicio" readonly>
                </div>
                <!-- /input-group -->
            </div>


            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="contener-admin col-lg-4 col-md-5 col-sm-12">
        <div id="diagrama" class="btn-group btn-group-toggle btns-group" data-toggle="buttons">
            <label data-posicion="1" data-id_posicion="" data-sit_code="0" id="llanta-1" class="btn-neumatico btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked>1
            </label>
            <label data-posicion="2" data-id_posicion="" data-sit_code="0" id="llanta-2" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off">2
            </label>
            <label data-posicion="3" data-id_posicion="" data-sit_code="0" id="llanta-3" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off">3
            </label>
            <label data-posicion="4" data-id_posicion="" data-sit_code="0" id="llanta-4" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option4" autocomplete="off">4
            </label>
            <label data-posicion="5" data-id_posicion="" data-sit_code="0" id="llanta-5" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option5" autocomplete="off">5
            </label>
            <label data-posicion="6" data-id_posicion="" data-sit_code="0" id="llanta-6" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option6" autocomplete="off">6
            </label>
            <label data-posicion="7" data-id_posicion="" data-sit_code="0" id="llanta-7" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option7" autocomplete="off">7
            </label>
            <label data-posicion="8" data-id_posicion="" data-sit_code="0" id="llanta-8" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option8" autocomplete="off">8
            </label>
            <label data-posicion="9" data-id_posicion="" data-sit_code="0" id="llanta-9" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option9" autocomplete="off">9
            </label>
            <label data-posicion="10" data-id_posicion="" data-sit_code="0" id="llanta-10" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option10" autocomplete="off">10
            </label>
            <label data-posicion="11" data-id_posicion="" data-sit_code="0" id="llanta-11" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option11" autocomplete="off">11
            </label>
            <label data-posicion="12" data-id_posicion="" data-sit_code="0" id="llanta-12" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option12" autocomplete="off">12
            </label>
            <label data-posicion="13" data-id_posicion="" data-sit_code="0" id="llanta-13" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option13" autocomplete="off">13
            </label>
            <label data-posicion="14" data-id_posicion="" data-sit_code="0" id="llanta-14" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option14" autocomplete="off">14
            </label>
            <label data-posicion="15" data-id_posicion="" data-sit_code="0" id="llanta-15" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option15" autocomplete="off">15
            </label>
            <label data-posicion="16" data-id_posicion="" data-sit_code="0" id="llanta-16" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option16" autocomplete="off">16
            </label>
            <label data-posicion="17" data-id_posicion="" data-sit_code="0" id="llanta-17" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option17" autocomplete="off">17
            </label>
            <label data-posicion="18" data-id_posicion="" data-sit_code="0" id="llanta-18" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option18" autocomplete="off">18
            </label>
            <label data-posicion="19" data-id_posicion="" data-sit_code="0" id="llanta-19" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option19" autocomplete="off">19
            </label>
            <label data-posicion="20" data-id_posicion="" data-sit_code="0" id="llanta-20" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option20" autocomplete="off">20
            </label>
            <label data-posicion="21" data-id_posicion="" data-sit_code="0" id="llanta-21" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option21" autocomplete="off">21
            </label>
            <label data-posicion="22" data-id_posicion="" data-sit_code="0" id="llanta-22" class="btn-neumatico btn btn-secondary">
                <input type="radio" name="options" id="option22" autocomplete="off">22
            </label>
        </div>


        <!--<input id="llanta-1" type="radio" class="btn-neumatico btn btn-primary btn-xs">1</input>
        <input id="llanta-2" type="radio" class="btn-neumatico btn btn-primary btn-xs">2</input>
        -->
    </div>
    <div class="col-lg-5 col-md-5">
        <!--dtNeumaticosAdmin-->
        <!--{# ************************************************************************************************ #}-->
        <!--{# BUSCADOR NEUMATICOS ADMIN #}-->
        <!--{# ************************************************************************************************ #}-->
        <table class="table table-bordered" id="dtNeumaticosAdmin">
            <thead>
            <tr>
                <th scope="col" style="width: 5%;">Posición</th>
                <th scope="col" style="width: 7%;">Fecha Instalación</th>
                <th scope="col" style="width: 15%;">KM Instalación</th>

                <th scope="col" style="width: 15%;">KM Recorridos / Vida Util </th>
                <th scope="col" style="width: 15%;">PCT Vida Util </th>

                <th scope="col" style="width: 15%;">No. Serie</th>
                <th scope="col" style="width: 8%;">Descrip.</th>
                <th scope="col" style="width: 8%;">Marca</th>
                <th scope="col" style="width: 8%;">Referencia</th>
                <th scope="col" style="width: 8%;"></th>

            </tr>
            </thead>
        </table>
        <!--{# ************************************************************************************************ #}-->
    </div>
</div>


{% endblock %}

{% block modals %}
<!--    {# ************************************************************************************************ #}-->
<!--    {# BUSCADOR MAIN#}-->
<!--    {# ************************************************************************************************ #}-->
<div class="modal fade" id="BuscarUnidadModal" data-b_todas="b_todas" tabindex="-1" role="dialog"
     aria-labelledby="BuscarUnidadModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="BuscarUnidadModalLabel">Buscar unidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--{# ************************************************************************************************ #}-->
                <!--{# BUSCADOR TABLA #}-->
                <!--{# ************************************************************************************************ #}-->
                <table class="table table-bordered" id="dtBuscador">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 5%;">Entrada Unidad</th>
                        <th scope="col" style="width: 7%;">Cliente</th>
                        <th scope="col" style="width: 15%;">Placa</th>
                        <th scope="col" style="width: 15%;">Marca</th>
                        <th scope="col" style="width: 8%;">Modelo</th>
                        <th scope="col" style="width: 8%;">Motor</th>
                        <th scope="col" style="width: 8%;">Chasis</th>

                    </tr>
                    </thead>
                </table>
                <!--{# ************************************************************************************************ #}-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnSeleccionarUnidad" type="button" class="btn btn-primary">Seleccionar</button>
            </div>
        </div>
    </div>
</div>
<!--    {# ************************************************************************************************ #}-->

<!--    {# ************************************************************************************************ #}-->
<!--    ********  ASIGNAR NUEVO NEUMATICO   ***********-->
<!--    {# ************************************************************************************************ #}-->
<div class="modal fade modal-lg" id="AsignaNeumaticoModal" tabindex="-1" role="dialog"
     aria-labelledby="AsignaNeumaticoLabel" aria-hidden="true">
    <!--         data-id_concepto="0" data-cve_operacion="NCOMPRA" -->

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="AsignaNeumaticoLabel">Asignar Neumatico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Orde de taller activa:</label>
                        <input id="folio_asignar" type="text" class="form-control" placeholder="Se requiere de orden de taller"
                               readonly>
                        <span class="mt-2 input-group-append">
                            <button href="" id="btnNuevaOrden"
                                    type="button"
                                    class="btn-info btn">Nueva orden
                            </button>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Posición:</label>
                        <select class="form-control select2 select2-danger" name='posicion' id='cbPosicion'></select>
                    </div>

                    <div class="form-group">
                        <label for="cbNeumaticos" class="col-form-label">Neumático:</label>
                        <select class="form-control select2 select2-danger" name='id_concepto' id='cbNeumaticos'></select>

                    </div>
                    <div class="form-group grupo-b_nserie_obligatorio">
                        <label for="edtNoSerie" class="col-form-label">Número de serie</label>
                        <input id="edtNoSerie" value="" type="number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="edtTxReferencia" class="col-form-label">Referencia</label>
                        <textarea id="edtTxReferencia" value="" type="textarea" class="form-control"></textarea>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnGuardarAsignaNeumatico" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% include '../MainSections/JS-DataTables.html' %}
<script src="{% static 'sismbor/js/reumaticos-admin.js' %}" type="text/javascript"></script>
<script src="{% static 'sismbor/js/buscador-unidad.js' %}" type="text/javascript"></script>
<script src="{% static 'artcode/js/utils.js' %}" type="text/javascript"></script>
{% endblock %}