{% extends 'body.html' %}
{% load static %}

{% block stylesheet %}
    {% include '../MainSections/CSS-DataTables.html' %}
    <link rel="stylesheet" href="{% static 'sismbor/css/orden-editar.css' %}">
{% endblock %}

{% block contento %}

    <div id="data_from_django" class="d-none">{{ url_prev }}</div>
    <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0 pt-1">
                <div class="row mb-1 pl-1">
                    <div class="input-group col-lg-2 pr-3 h-50">
                        <a href="{{ url_prev }}" class="pt-4 btn btn-secondary "> <i
                                class="fas fa-backward"></i></a>
                        <span class="status badge badge-{{ status_tipo }}">{{status_tipo}}{{ status_desc }}</span>
                    </div>

                    <div class="input-group col-lg-2 mb-3 mt-3 ml-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary">Placa</span>
                        </div>
                        <input type="text" class="form-control uppercase" readonly
                               value="{{ placa }}">
                    </div>
                    <div class="input-group col-lg-2 mb-3 mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary">Km</span>
                        </div>
                        <input type="text" class="form-control uppercase" readonly
                               value="{{ kilometraje }}">
                    </div>
                    <div class="input-group col-lg-2 mb-3 mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary">Modelo</span>
                        </div>
                        <input type="text" class="form-control uppercase" readonly
                               value="{{ modelo }}">
                    </div>

                </div>

                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-four-repuestos-tab" data-toggle="pill"
                           href="#custom-tabs-four-repuestos"
                           role="tab" aria-controls="custom-tabs-four-repuestos" aria-selected="false">R e p u e s t o
                            s</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-mantenimiento-tab" data-toggle="pill"
                           href="#custom-tabs-four-mantenimiento" role="tab" aria-controls="custom-tabs-four-profile"
                           aria-selected="false">M a n t e n i e m i e n t o</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-manobra-tab" data-toggle="pill"
                           href="#custom-tabs-four-manobra" role="tab" aria-controls="custom-tabs-four-messages"
                           aria-selected="true">M a n o d e O b r a</a>
                    </li>
                    {% comment %}   <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-neumaticos-tab" data-toggle="pill"
                           href="#custom-tab-four-neumaticos" role="tab" aria-controls="custom-tabs-four-settings"
                           aria-selected="false">Neumáticos</a>
                    </li>{% endcomment %}
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-four-tabContent">
                    <div class="tab-pane fade active show" id="custom-tabs-four-repuestos" role="tabpanel"
                         aria-labelledby="custom-tabs-four-repuestos-tab">
                        {# ************************************************************************************************ #}
                        {# REPUESTOS TABLA #}
                        {# ************************************************************************************************ #}
                        <table class="table table-bordered display" style="width:100%" id="dtRepuestos">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 5%;">Entrada</th>
                                <th scope="col" style="width: 7%;">Clave</th>


                                <th scope="col" style="width: 25%;">Descripción</th>
                                <th scope="col" style="width: 3%;">Precio</th>
                                <th scope="col" style="width: 8%;">Marca</th>

                                <th scope="col" style="width: 8%;">Categoría</th>
                                <th scope="col" style="width: 2%;">U/Med.</th>
                                <th scope="col" style="width: 8%;">V/U Km</th>
                                <th scope="col" style="width: 8%;">V/U Hr</th>
                                <th scope="col" style="width: 8%;">Periodo</th>
                                <th scope="col" style="width: 2%;">Stock</th>
                                <th scope="col" style="width: 5%;">Carrito</th>

                            </tr>
                            </thead>
                        </table>
                        {# ************************************************************************************************ #}
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-four-mantenimiento" role="tabpanel"
                         aria-labelledby="custom-tabs-four-mantenimiento-tab">
                        {# ************************************************************************************************ #}
                        {# REPUESTOS TABLA #}
                        {# ************************************************************************************************ #}
                        <table class="table table-bordered display" style="width:100%" id="dtMantenimiento">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 5%;">Entrada</th>
                                <th scope="col" style="width: 7%;">Clave</th>
                                <th scope="col" style="width: 25%;">Descripción</th>
                                <th scope="col" style="width: 3%;">Precio</th>
                                <th scope="col" style="width: 8%;">Hora hombre</th>
                                <th scope="col" style="width: 5%;">Carrito</th>

                            </tr>
                            </thead>
                        </table>
                        {# ************************************************************************************************ #}
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-four-manobra" role="tabpanel"
                         aria-labelledby="custom-tabs-four-manobra-tab">
                        {# ************************************************************************************************ #}
                        {# MANO DE OBRA TABLA #}
                        {# ************************************************************************************************ #}
                        <table class="table table-bordered display" style="width:100%" id="dtManoObra">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 5%;">Entrada</th>
                                <th scope="col" style="width: 7%;">Clave</th>
                                <th scope="col" style="width: 25%;">Descripción</th>
                                <th scope="col" style="width: 3%;">Precio</th>
                                <th scope="col" style="width: 8%;">Hora hombre</th>
                                <th scope="col" style="width: 5%;">Carrito</th>

                            </tr>
                            </thead>
                        </table>
                        {# ************************************************************************************************ #}
                    </div>
                    {% comment %}        <div class="tab-pane fade" id="custom-tabs-four-settings" role="tabpanel"
                         aria-labelledby="custom-tabs-four-settings-tab">

                    </div>{% endcomment %}
                </div>
            </div>
            <!-- /.card -->
        </div>

    </div>
    <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
            {# ************************************************************************************************ #}
            {#  S E L E C C I O N   T A B L A  #}
            {# ************************************************************************************************ #}
            <table class="table table-bordered" style="width:100%" id="dtOrdenDetalle">
                <thead>
                <tr>
                    <th scope="col" style="width: 5%;">Entrada</th>
                    <th scope="col" style="width: 5%;">Tipo</th>
                    <th scope="col" style="width: 5%;">Cantidad</th>
                    <th scope="col" style="width: 7%;">Categoria</th>
                    <th scope="col" style="width: 7%;">Present.</th>
                    <th scope="col" style="width: 25%;">Descripción</th>
                    <th scope="col" style="width: 10%;">No. Serie</th>
                    <th scope="col" style="width: 15%;">Encargado</th>
                    <th scope="col" style="width: 15%;">Referencia</th>
                    <th scope="col" style="width: 5%;">Acción</th>

                </tr>
                </thead>
            </table>
            {# ************************************************************************************************ #}
        </div>

    </div>

    {% comment %}/*****************************************************************************************************/
    /* TX REFERENCIA */
    /**************************************************************************************************/{% endcomment %}


    <div class="modal fade" id="TxReferenciaModal" tabindex="-1" role="dialog" aria-labelledby="TxReferenciaLabel"
         aria-hidden="true">
        <input type="hidden" name="id_orden_detalle" id="id_orden_detalle" value="0">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TxReferenciaLabel">Referencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label  class="col-form-label">Edite la referencia para este
                                item:</label>
                            <input id="edtTxReferencia" type="textarea" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btnGuardarTxReferencia" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    {% comment %}/*****************************************************************************************************/
    /* NO SERIE */
    /**************************************************************************************************/{% endcomment %}

    <div class="modal fade" id="NoSerieModal" tabindex="-1" role="dialog" aria-labelledby="NoSerieLabel"
         aria-hidden="true">
        <input type="hidden" name="id_orden_detalle" id="id_orden_detalle" value="0">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NoSerieLabel">Número de Serie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">Edite el número de serie para este
                                item:</label>
                            <input id="edtNoSerie" type="textarea" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btnGuardarNoSerie" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>


    {% comment %}/*****************************************************************************************************/
    /* PERSONAL */
    /**************************************************************************************************/{% endcomment %}

    <div class="modal fade w-50" id="PersonalModal" tabindex="-1" role="dialog" aria-labelledby="PersonalLabel"
         aria-hidden="true">
        <input type="hidden" name="id_orden_detalle" id="id_orden_detalle" value="0">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PersonalLabel">Persona encargada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">Seleccione a la parsona que se encargará
                                del trabajo:</label>
                            <select class="select2 w-100" name='personal' id='cbPersonal'>
                                {% for persona in personal %}
                                    <option value="{{persona.id_personal}}">{{ persona.nombre }} {{ persona.apellido }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btnGuardarPersonal" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block scripts %}
    {% include '../MainSections/JS-DataTables.html' %}
    <script src="{% static 'sismbor/js/orden-editar.js' %}" type="text/javascript"></script>
{% endblock %}