{% extends '../../Classes/list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}

{% block columns %}
    <tr>

        <th scope="col" style="width: 10%;">ID</th>
        <th scope="col" style="width: 10%;">Clave</th>
        <th scope="col" style="width: 30%;">Descripción</th>
        <th scope="col" style="width: 10%;">Categoria</th>
        <th scope="col" style="width: 10%;">Precio de venta</th>
{#        <th scope="col" style="width: 8%;">Tipo de servicio</th>#}
        <th scope="col" style="width: 10%;">Hora hombre</th>
{#        <th scope="col" style="width: 8%;">Periodo Kilometraje</th>#}
        <th scope="col" style="width: 10%;">Acción</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block scripts_lista %}
    <script src="{% static 'sismbor/js/list-cat-matenimiento.js' %}"></script>
{% endblock %}

