{% load static %}


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <img src="{% static 'sismbor/img/Logo_W.png' %}" alt="SismBor"
         class="" style="width: 100%; padding-left: 10px; padding-right: 10px; padding-top:20px">

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block">{{ request.user.get_full_name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item loading-click">
                    <a href="{% url 'OBTaller:panel-operacion' %}" class="nav-link {{ escritorio }}">
                        <i class="nav-icon fas fa-desktop"></i>

                        <p>
                            Escritorio

                            <span class="right badge badge-warning">2</span>
                            <span class="right badge badge-info">3</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item loading-click">
                    <a href="{% url 'OBTaller:orden_nueva' %}" class="nav-link {{ nueva_orden }}">
                        <i class="nav-icon fas fa-plus-circle"></i>
                        <p>
                            Nueva Orden
                        </p>
                    </a>
                </li>
                <li class="nav-item {{ operacion }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-bus"></i>
                        <p>
                            Unidades
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="pl-4 nav nav-treeview loading-click">
                        <li class="">
                            <a href="{% url 'OBTaller:unidad_asignacion' %}" class="nav-link  {{ unidad_asignacion }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Asignacion</p>
                            </a>
                        </li>
<!--                        <li class=" loading-click">-->
<!--                            <a href="{% url 'OBTaller:unidad_list' %}" class="nav-link {{ unidades }}">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Unidades</p>-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>

                </li>
                <li class="nav-item {{ catalogos }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Catálogos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="pl-4 nav nav-treeview loading-click">
                        <li class="">
                            <a href="{% url 'OBTaller:cliente_list' %}" class="nav-link  {{ clientes }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                        <li class=" loading-click">
                            <a href="{% url 'OBTaller:unidad_list' %}" class="nav-link {{ unidades }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Unidades</p>
                            </a>
                        </li>
                        <li class=" loading-click">
                            <a href="{% url 'OBTaller:manobra_list' %}" class="nav-link {{ manobra }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Mano de obra</p>
                            </a>
                        </li>
                        <li class=" loading-click">
                            <a href="{% url 'OBTaller:mantenimiento_list' %}" class="nav-link {{ mantenimiento }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Mantenimiento</p>
                            </a>
                        </li>
                        <li class=" loading-click">
                            <a href="{% url 'OBTaller:personal_list' %}" class="nav-link {{ personal }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Personal</p>
                            </a>
                        </li>


                    </ul>
                </li>


                <li class="nav-item {{ inventarios }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Almacén
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="pl-4 nav nav-treeview loading-click">
                        <li class=" loading-click">
                            <a href="{% url 'OBTaller:inventario_list' %}" class="nav-link {{ repuestos }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Repuestos</p>
                            </a>
                        </li>
                        <li class=" loading-click">
                            <a href="{% url 'OBTaller:inventario_neumaticos_list' %}"
                               class="pl-3 nav-link {{ neumaticos }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Neumáticos</p>
                            </a>
                        </li>


                    </ul>
                </li>


                <li class="nav-item loading-click">
                    <a href="{% url 'OBTaller:neumaticos_admin' %}" class="nav-link {{ neumaticos_admin }}">
                        <i class="nav-icon fas fa-bullseye"></i>
                        <p>
                            Neumáticos (Admin)
                        </p>
                    </a>
                </li>


                <li class="nav-item {{ reportes }}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Reportes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="pl-4 nav nav-treeview loading-click">
                        {% for reporte in datasetReportes %}
                            <li class=" loading-click">
                                <a data-id_reporte="{{ reporte.id_reporte }}"
                                   href="{% url 'OBTaller:reportes_view' reporte.id_reporte %}"
                                   class="nav-link {{ reporte.vista }}">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>{{ reporte.titulo_reporte }} </p>
                                </a>
                            </li>
                        {% endfor %}




                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>Title test</h5>
        <p>Sidebar content</p>
    </div>
</aside>
<!-- /.control-sidebar -->