{% extends '../../Classes/list.html' %}
{% load static %}
{% block head_list %}

{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">ID Cliente</th>
        <th scope="col" style="width: 7%;">RUP</th>
        <th scope="col" style="width: 15%;">Nombre de la empresa</th>
        <th scope="col" style="width: 15%;">Representante</th>
        <th scope="col" style="width: 8%;">Teléfono Contacto</th>
        <th scope="col" style="width: 8%;">Celular Contacto</th>
        <th scope="col" style="width: 8%;">Correo Electrónico</th>
        <th scope="col" style="width: 15%;">Dirección</th>
        <th scope="col" style="width: 8%;">Usuario Alta</th>
        <th scope="col" style="width: 13%;">Fecha Registro</th>
        <th scope="col" style="width: 15%;">Opciones</th>

    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block scripts_lista %}
    <script src="{% static 'sismbor/js/list-cat-cliente.js' %}"></script>
{% endblock %}

